* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.product_list {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* padding: 1%; */
    justify-content: center;
    align-items: center;
}

.product_item {
    width: 22%;
    display: grid;
    place-items: center;
    padding: 1%;
    margin: 1%;
    background-color: rgb(240, 240, 240);
}

.product_image {
    width: 100%;
    display: grid;
    place-items: center;
}

.product_image:hover {
    filter: brightness(110%);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.product_image img {
    width: 60%;

}

.product_box {
    display: flex;
}