* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.box {}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.title {
    width: 100%;
    height: auto;
    background-color: #0162a7;
    position: fixed;
}

.title-in {
    display: flex;
    justify-content: center;
    text-align: center;
}

.title-icont {
    width: 250px;
    top: 0;
    left: 0;
    display: inline-block;
}

.title-icont img {
    width: auto;
    height: 70px;
    padding: 10px;
}

.title-menu {
    width: 590px;
    height: auto;
}

.title-menu ul {
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin-top: 25px;
}

.title-menu ul li a {
    color: white;
    font-size: 24px;
    transition: 0.5s;
}

.title-menu ul li a:hover {
    color: rgb(229, 106, 73);
}

.title-language {
    width: 350px;
}

.title-language {
    padding: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.title-text {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    width: 180px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

/* ///////////////////////////////////////////////////// */
.title-text1 {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}


.title-ese {
    padding: 10px;
    cursor: pointer;

    display: flex;
    color: white;
}

.fa-arrow-right-from-bracket {
    font-size: 30px;
    padding: 5px;
}

.title-ese p {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 5px;
}

.self {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJWlbmvp-S3sfALA2PgLTAn2EaY6I72tPWYA&usqp=CAU);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-content: center;
    text-align: center;
    padding-top: 80px;
    height: 100vh;
    width: 100%;
    background-color: rgb(203, 206, 206);
    /* padding: 20px; */
}

.self-title {
    /* display: flex; */
    justify-content: center;
    padding: 20px;
    margin-top: 30px;
}

.self-title h1 {
    color: white;
    padding: 10px;
    font-size: 40px;
}

.fa-circle-user {
    color: blueviolet;
    width: 80px;
    height: auto;
    padding: 10px;
    font-size: 75px;
}

.self-speak {
    color: white;
    font-size: 20px;
    padding: 10px;
}

#self-icont {

    width: 100%;
    height: 10%;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 24px;
    transition: 0.5s;
    margin-top: 70px;
}



.crossbar {
    padding: 0px 10px 0px 10px;
    width: 1230px;
    margin: auto;
    height: 100px;
    display: flex;
    /* background-color: #5b6e1c; */
}

.crossbar-drum {
    width: 75%;
    border-bottom: 1px solid black;
}

.crossbar-text {
    justify-content: start;
    align-items: center;
    display: flex;
    width: 25%;
}

.crossbar-text-in {
    width: 180px;
}

.crossbar-text-left {
    width: 50px;
    font-size: 35px;
    color: rgb(109, 109, 109);
    display: grid;
    place-items: center;
    margin-left: 25px;
}

.crossbar-text-right {
    width: 50px;
    width: 50px;
    font-size: 35px;
    color: rgb(109, 109, 109);
    margin-right: 90px;
    display: grid;
    place-items: center;
}








.menu {
    margin-top: 20px;
    padding: 40px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
}

.menu-avata {
    width: 350px;

}

.menu-tex {
    align-items: center;
    display: flex;
    background-color: #0162a7;
    width: 270px;
    height: 50px;
    justify-content: center;
    border-radius: 2px;
}

.menu-text-icont {
    left: 0;

}

.title-text1 option {
    color: white;
    font-size: 20px;
}

.fa-image {
    color: rgb(181, 181, 181);
    font-size: 30px;
    padding: 10px;
}

.menu-tex p {
    padding: 10px;

    color: white;
    font-size: 24px;
}

.menu-icont img {
    margin-top: 10px;
    width: 270px;
    height: 340px;
    height: auto;
    border-radius: 5px;
    /* filter: drop-shadow(2px 2px 1px rgb(151, 151, 151)); */
    box-shadow: 3px 3px 2px rgb(158, 158, 158);
    display: block;
}

.menu-icont img:hover {
    margin-left: -5px;
    transition: 2s;
}

.menu-title {
    width: 790px;
}

.menu-title-font {
    width: 750px;
    height: 50px;
    background-color: #ca0238;
}

.menu-title-font {
    display: flex;
}

.menu-title-font-a {
    font-size: 40px;
    color: rgb(217, 217, 217);
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}

.menu-title-font-text {
    color: white;
    font-size: 30px;
    padding: 9px;
}

.menu-title-tex {
    text-indent: 20px;
    font-size: 18px;
    line-height: 1.5em;
    margin-top: 20px;
}

.menu-title-woman {
    width: 100%;
}

.menu-title-woman h3 {
    font-size: 30px;
    padding: 20px 20px 20px 0;
}

.menu-title-woman-ese {
    display: flex;
    /* justify-content: space-between; */
    /* text-align: center; */
}

.menu-title-woman-ese span {
    width: 200px;
    padding: 10px 0px 10px 0px;
    display: inline-block;
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu-title-woman-ese p {

    font-size: 18px;
    width: 200px;
    /* margin-left: 220px; */
    padding: 10px 0px 10px 0px;
}

.js-buy-ticket {
    cursor: pointer;
    display: flex;
    padding: 10px;
    margin-top: 20px;
}

.js-buy-ticket:hover {
    color: blueviolet;
    transition: 0.5s;
}

.box4 {
    width: 300px;

    left: 550px;
    top: 900px;
    position: absolute;
    height: 200px;
    display: none;
    background-color: rgb(243, 243, 243);
    text-align: center;
    justify-content: space-between;
    border-radius: 10px;
    border: 1px solid black;
    transition: 1s;
}

.open {
    transition: 1s;
    display: flex;
}

.box4 span {
    width: 100%;
    height: auto;
    font-size: 20px;
    margin-top: 60px;
    margin-right: 20px;
    font-size: 24px;
    transform: translateX(50%);
    color: rgb(3, 2, 2);
}

.box4 i {
    padding: 3px;
    color: rgb(0, 136, 255);
    padding-left: 100px;
    font-size: 30px;
}

.contact {
    padding: 10px;
    display: flex;
    /* text-align: center; */
    justify-content: center;
}

.contact-icpA {
    margin: 10px;
    border-radius: 1px;
    padding: 5px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 365px;
    height: 55px;
    background-color: #5b6e1c;
}

.contact-icpA p .fa-solid {
    font-size: 32px;
    color: #ff3c3c;
}

.contact-icpa {
    display: flex;
    padding: 5px 0px 5px 0px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.contact-icpa span {
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 0px 10px;
}

.contact-icpa p {
    font-size: 18px;
    padding: 10px 10px 0px 10px;
}

.contact-icpA p {
    font-size: 43px;
    color: #e3e3e3;
    font-family: monospace;
    padding-right: 10px;
}

.contact-skillA p {
    font-size: 43px;
    color: #e3e3e3;
    font-family: monospace;
    padding-right: 10px;
}

.contact-skillA p .fa-solid {
    font-size: 32px;
    color: #8df9ff;
}

.contact-skillA {
    background-color: #773f97;
    margin: 10px;
    border-radius: 1px;
    padding: 5px;
    font-size: 30px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 365px;
    height: 55px;
}

.contact-skilla {
    margin: 10px;
    font-size: 18px;
    border-bottom: 1px solid rgb(229, 229, 229);
}

.innit {
    width: 100%;
    background-color: #0162a7;
    height: 60px;
    display: flex;
    /* padding: 10px; */
    justify-content: center;
    align-items: center;
}

.innit img {
    /* margin-right: 250px; */
    width: 120px;
    left: 0;
    height: auto;
}

.menu-innit {
    padding: 0px 80px 0px 80px;
}

.innit span {
    font-size: 24px;
    color: white;
    right: 0;
    padding: 10px;
}

.menu-innit a {

    font-size: 20px;
    color: white;
    padding: 10px;
    margin-top: 20px;
}

.innit span:hover {
    color: #000000;
    transition: 1s;
    font-family: 'Times New Roman', Times, serif;
}