* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: grid;
    place-items: center;
}

section {
    padding: 12px;
    margin-top: 100px;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid red;

}

#ngaysinh {
    width: 150px;
    margin-left: 30px;
}

#cung {
    width: 150px;
    margin-left: 61px;
}

.btn {
    width: 50px;
    margin-left: 150px;
}

.btn2 {
    width: 50px;
    /* margin-left: 250px; */
}