.button {
    background-color: bisque;
    color: white;
    border: 0;
    padding: 10px 20px;
    border-radius: 10px;
}

.button--red {
    @extend .button;
    background-color: red;

}

.button--green {
    background-color: greenyellow;
}