.product_list {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    height: 100%;
}

.product_item {
    width: 20%;
    height: auto;
    flex-wrap: wrap;
    /* padding-top: 10px; */
    /* margin-top: 10px; */

    display: grid;
    place-items: center;
    margin: 1%;
    padding: 1%;
    /* border-radius: 3px; */
    background-color: #ffffff;
    /* flex: 1 1 5rem; */
    /* padding: 1rem 2rem 4rem; */
    border-radius: 2px;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    color: rgb(0, 0, 0);
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    text-align: center;
    border: 2px solid #1f242d;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.product_item:hover {
    color: rgb(0, 0, 0);
    border-color: #00fbff;
    transform: scale(1.02);
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
}

.product_image {
    width: 100%;
    border: 5px;
    height: auto;
}

.product_image img {
    width: 200px;
    height: 200px;
    border: 5px;
    border: 1px solid red;
    /* aspect-ratio: 4/3; */
}

.cangiua {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_title {}

.product_priced {
    font-size: 16px;
    justify-content: end;
}

.product_price {
    color: rgb(255, 0, 0);
    font-size: 24px;
    z-index: 1000;
    padding-bottom: 20px;
}