<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
        />
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <header >
       <a href=""><img id="header-image1" src="https://sharecode.vn/assets/images/code-hay-upload-kiem-tien.jpg" alt=""></a>
       <a href=""><img id="header-image2" src="https://sharecode.vn/assets/images/code-hay-upload-kiem-tien.jpg" alt=""></a>
    </header>

    <nav>
        <div class="nav_in" id=" nav1_menu">
            <ul>
                <a class="nav_in-icon " href="">
                    <li class="nav_node ">
                        <i class="fa-solid fa-phone nav2_menu"></i>
                        <p>
                            <a href="" class="nav2_menu" >
                                0987654321
                            </a>
                        </p>
                    </li>
                </a>
                <a href="" class="nav_boder"></a>

                <a class="nav_in-icon" href="">
                    <li class="nav_node">
                        <i class="fa-solid fa-envelope nav2_menu"></i>
                        <p>
                            <a href="" class="nav2_menu" >
                                dotienquang12.@gmail.com
                            </a>
                        </p>
                    </li>
                </a>
                <a href="" class="nav_boder"></a>

                <a class="nav_in-icon" href=""><li class="nav2_menu" >Kiến thức lập trình</li></a>
                <a href="" class="nav_boder"></a>
                <a class="nav_in-icon" href=""><li class="nav2_menu" >Sự kiện</li></a>
            </ul>
        </div>
        <div class="nav_in" id="nav2_menu"></div>
        <div class="nav_in nav3_menu" id="nav3_menu">
            <ul>
                <a href=""><li><i class="fa-solid fa-arrow-down"></i></li></a>
                <a href="" class="nav_boder"></a>
                <a href=""><li>Đăng ký</li></a>
                <a href="" class="nav_boder"></a>

                <a href=""><li>Đăng nhập</li></a>
                <a href="" class="nav_boder"></a>

            </ul>
        </div>
    </nav>

    <div class="search">
        <div class="search_icont">
            <a href="">
                <img src="https://sharecode.vn/assets/images/logo.png" alt="">
            </a>
        </div>
        <div class="search_find">
            <div class="search_find_left">
                <select class="title-text" name="lang" tabindex="0" aria-required="true" onchange="this.form.submit();" style="">
                    <option value="default" selected="selected">Tất cả code</option>
                    <!-- <option value="en.utf8">English</option> -->
                    <!-- <option value="vi.utf8">Tien Viet</option> -->
                    <option value="">C++</option>
                    <option value="">Java</option>
                    <option value="">HTML/Css/JavaScript</option>
                    <option value="">PHP</option>
                    <option value="">Ruby</option>

                </select>
            </div>
            <div class="search_find_between">
                <input type="text" placeholder="Tìm kiếm">
            </div>
            <div class="search_find_ringht">
                <i class="search_find_ringht1 fa-solid fa-magnifying-glass"></i>
            </div>
        </div>

        <div class="search_send">
            <div class="search_send-loaded">
                <i class="fa-solid fa-money-check-dollar"></i>
                <p>Nạp xu</p>
            </div>
            <div class="search_send-upload">
                <i class="fa-solid fa-money-check-dollar"></i>
                <p>Tải lên</p>
            </div>
        </div>
        <div class="search_send-withdraw"></div>
    </div>
    <div>
        <aside>Aside</aside>
        <main>
            <article>
                <figure>Figure</figure>
                <p>P</p>
            </article>
            <section>Section</section>
        </main>
    </div>
    <footer>Footer</footer>
    <script src="script.js"></script>
</body>
</html>