* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.in {
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    margin: auto;
}

.box {
    margin: auto;
    width: 1000px;
    height: 700px;
    /* background-color: blue; */
}

.box1 {
    width: 980px;
    height: 100px;
    background-color: brown;
    margin: auto;
    padding: 10px;
    margin: 20px;
}

.box2 {
    width: 980px;
    height: 350px;
    margin: auto;
    display: flex;
    margin: 20px;
    text-align: center;
}

.box2l {
    height: 350px;
    /* margin: 5px; */
    margin-right: 10px;
    width: 300px;
    background-color: chartreuse;
}

.box2r {
    margin-left: 10px;
    /* margin: 5px 5px 5px 0px; */
    height: 350px;
    width: 690px;
    background-color: black;
}

.box3 {
    width: 980px;
    height: 100px;
    background-color: bisque;
    margin: auto;
    margin: 20px;
    padding: 10px;
}