h1 {
    background-color: aqua;
}

.big-image {
    background-image: url(/Wep123/anh_web/anh1.jpg);
    /* background-size: 500px auto; */
    width: 200px;
    border: 4px solid red;
    height: 200px;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-attachment: fixed;

}

/* 
     text-align: center; can giua
    text-align: left; can trai
    text-align: right; can phai
    text-align: justify; can deu 2 ben
*/
.box-1 {
    width: 200px;
    height: 200px;
    /* position: relative; */
    margin-left: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid red;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThbl47VAQK_3kDo3-L6d84Y2qX-f0TTUlgIQ&usqp=CAU);
}

.box-1 h1 {
    color: blue;

}